.backgroundHome {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100vh;
  width: 100%;
  background-image: url('/PinkSpreadPurpleStripes.png'), url('/GreenDotsPurpleCircles.png'), url('/TeamBrainstorming.png'), url('/Logo1.png');
  background-position: right 115% top 140%, left 105% top 50%, left 48% top 23%, left 49% top 68%;
  background-repeat: no-repeat;
  background-size: 25%, 21%, 22%, 22%;
  background-attachment: fixed;
}

@media (max-width: 768px) {
  .backgroundHome {
    background-position: right 122% top 105%, left 113% top 40%, left 27% top 22%, center top 55%;
    background-size: 40%, 35%, 68%, 50%;
  }
}

.flexmiddle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 4% ;
  margin-top: 36%;
  font-family: Georgia, Times, 'Times New Roman', serif,
}

@media (max-width: 768px) {
  .flexmiddle {
    justify-self:center;
    margin-left: 5%;
    margin-top: 135%;
  }
}
.buttonstyles {
  color: white;
  background: black;
  font-size: 21px;
  top: 10px; 
  margin-top: 10px;
  border-radius: 13px;
  width: 13%; 
  height: 40%;
}

@media (max-width: 768px) {
  .buttonstyles {
  color: white;
  background: black;
  font-size: 21px;
  top: 10px; 
  margin-top: 10px;
  border-radius: 13px;
  width: 37%; 
  height: 40%;
  }
}


