  .navbar {
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  .navLinks {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .navItem {
    margin-right: 27px;
    font-weight: bold;
    font-size: larger;
    color: #000;
  }

  .logo {
    margin-right: 16px;
  }

  .navItem:hover {
    background-color: rgb(252, 248, 248);
    text-decoration: underline;
  }

  @media (max-width: 768px) {
    .navbar {
      padding: 10px 20px;
    }
  }
